.stepsBox {
    max-width: 100%;
    max-height: 50%;
    overflow: scroll;
    border: 2px solid black;
}

.horizontal_align {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: stretch;

}